n8n-flows/01-content-generation.json
{
  "name": "01 — AI Content Generation Pipeline (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 1 * * 1" }]
        }
      },
      "id": "11111111-0001-0001-0001-000000000001",
      "name": "Weekly Monday 7am IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Fires at 01:30 UTC = 07:00 IST every Monday. Weekly batch — you review + approve with Sachit mid-week."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://feeds.feedburner.com/ICAI-News",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "11111111-0002-0002-0002-000000000002",
      "name": "RSS: ICAI Announcements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://economictimes.indiatimes.com/industry/banking/finance/rssfeeds/13358259.cms",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "11111111-0003-0003-0003-000000000003",
      "name": "RSS: ET Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.gst.gov.in/rss/news.xml",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "11111111-0004-0004-0004-000000000004",
      "name": "RSS: GST Council",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json?engine=google_trends&q=CA+India,GST+filing,income+tax+India,TDS+return,ICAI&geo=IN&date=today+7-d&api_key={{$env.SERPAPI_KEY}}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "11111111-0004b-0004-0004-00000000004b",
      "name": "Google Trends: CA Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 480],
      "notes": "Set SERPAPI_KEY in n8n env vars. Free tier: 100 searches/month. Sign up at serpapi.com"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/IndiaInvestments/hot.json?limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "User-Agent", "value": "n8n-ca-content-bot/1.0" }]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "11111111-0004c-0004-0004-00000000004c",
      "name": "Reddit: India Investments Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 600],
      "notes": "Public Reddit API. No auth needed. Returns top 20 hot posts from r/IndiaInvestments."
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "11111111-0005-0005-0005-000000000005",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 360]
    },
    {
      "parameters": {
        "jsCode": "// Parse all sources: RSS feeds, Google Trends, Reddit\nconst items = $input.all();\nconst signals = [];\n\nfor (const item of items) {\n  const raw = item.json;\n\n  // ── RSS XML feeds ──\n  if (typeof raw.data === 'string' || typeof raw.body === 'string') {\n    const text = raw.data || raw.body || '';\n    const blocks = text.match(/<item[^>]*>([\\s\\S]*?)<\\/item>/gi) || [];\n    for (const block of blocks.slice(0, 8)) {\n      const title = (block.match(/<title>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/title>/i) || [])[1]?.trim();\n      const desc  = (block.match(/<description>(?:<!\\[CDATA\\[)?(.*?)(?:\\]\\]>)?<\\/description>/is) || [])[1]?.replace(/<[^>]+>/g,'').trim().substring(0,200);\n      const link  = (block.match(/<link>([^<]+)<\\/link>/i) || [])[1]?.trim();\n      if (title && title.length > 15 && !title.toLowerCase().includes('advertisement')) {\n        signals.push({ type: 'rss', title, summary: desc || '', link: link || '', weight: 1 });\n      }\n    }\n  }\n\n  // ── Google Trends ──\n  if (raw.interest_over_time || raw.related_queries) {\n    const trending = (raw.related_queries || []).flatMap(q => (q.rising || []).slice(0, 3));\n    for (const t of trending) {\n      signals.push({ type: 'trend', title: t.query || '', summary: `Trending search: ${t.query} (rising ${t.value})`, link: '', weight: 2 });\n    }\n  }\n\n  // ── Reddit ──\n  if (raw.data?.children) {\n    for (const post of raw.data.children.slice(0, 10)) {\n      const p = post.data;\n      if (p.score > 50 && p.title) {\n        signals.push({ type: 'reddit', title: p.title, summary: p.selftext?.substring(0,200) || `${p.score} upvotes · ${p.num_comments} comments`, link: `https://reddit.com${p.permalink}`, weight: 1.5 });\n      }\n    }\n  }\n}\n\n// Deduplicate by first 40 chars of title\nconst seen = new Set();\nconst unique = signals.filter(s => {\n  const key = s.title.substring(0,40).toLowerCase();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconsole.log(`Parsed ${unique.length} signals from ${items.length} sources`);\nreturn [{ json: { signals: unique.slice(0,30), scrapedAt: new Date().toISOString() } }];"
      },
      "id": "11111111-0006-0006-0006-000000000006",
      "name": "Code: Parse All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{\nJSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1200,\n  messages: [{\n    role: 'user',\n    content: `You are a content strategist for SNG Advisors, an Indian CA/CPA firm targeting small and mid-size CA practices in India.\\n\\nThis week's signals (news + trends + community):\\n${$json.signals.map((s,i)=>`${i+1}. [${s.type.toUpperCase()}] ${s.title}\\n   ${s.summary}`).join('\\n\\n')}\\n\\nSelect the TOP 5 topics most likely to generate high engagement from CA firms in India this week. Prioritise: compliance changes, AI for accounting, time-saving workflows, GST/TDS/ITR updates, practice management.\\n\\nFor each, respond in this EXACT format:\\nTOPIC_1: [title]\\nWHY_1: [one sentence on virality potential]\\nANGLE_1: [unique hook angle — what makes this post different from generic CA content]\\n\\nTOPIC_2: [title]\\n...\\n\\nOnly the 5 topics in this format. Nothing else.`\n  }]\n})\n}}",
        "options": { "timeout": 30000 }
      },
      "id": "11111111-0007-0007-0007-000000000007",
      "name": "Claude: Rank Top 5 Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 360]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content?.[0]?.text || '';\nif (!content) throw new Error('Claude returned empty response. Check API key.');\n\nconst topics = [];\nfor (let i = 1; i <= 5; i++) {\n  const title = (content.match(new RegExp(`TOPIC_${i}:\\\\s*(.+)`)) || [])[1]?.trim();\n  const why   = (content.match(new RegExp(`WHY_${i}:\\\\s*(.+)`)) || [])[1]?.trim();\n  const angle = (content.match(new RegExp(`ANGLE_${i}:\\\\s*(.+)`)) || [])[1]?.trim();\n  if (title) topics.push({ rank: i, title, why: why || '', angle: angle || '', generatedAt: new Date().toISOString() });\n}\n\nif (topics.length === 0) throw new Error('Could not parse topics from Claude response: ' + content.substring(0,200));\nconsole.log(`Extracted ${topics.length} topics for this week`);\nreturn topics.map(t => ({ json: t }));"
      },
      "id": "11111111-0008-0008-0008-000000000008",
      "name": "Code: Extract 5 Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 360]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "11111111-0009-0009-0009-000000000009",
      "name": "Process Each Topic (Loop)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1680, 360],
      "notes": "Output 0 = current topic, Output 1 = all done"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{\nJSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 3500,\n  messages: [{\n    role: 'user',\n    content: `You are a social media content creator for SNG Advisors targeting Indian CA professionals. Create content for:\\n\\nTOPIC: ${$json.title}\\nWHY IT MATTERS: ${$json.why}\\nUNIQUE ANGLE: ${$json.angle}\\n\\nCreate all 4 formats below using the exact section headers.\\n\\n---LINKEDIN---\\nLinkedIn post (900-1100 chars). Bold hook first line. Short paragraphs 2-3 lines max. 1-2 emojis. Professional but conversational. Clear CTA (save this / comment below / share with your team). No hashtags.\\n\\n---INSTAGRAM_CAPTION---\\nInstagram caption (180-220 chars). Punchy opener. 2 sentences. Then on a NEW line: 22-25 hashtags. Examples: #CAIndia #GSTUpdate #AIForCA #TaxAutomation #CharteredAccountant #SNG #FloatupApp #IndiaFinance #TaxIndia #ICampAI\\n\\n---CAROUSEL_SLIDES---\\nInstagram carousel: exactly 5 slides. Each slide on its own line, format:\\nSlide1: [HOOK — bold claim or question, max 8 words]\\nSlide2: [Point 1 — headline + 1 supporting sentence]\\nSlide3: [Point 2 — headline + 1 supporting sentence]\\nSlide4: [Point 3 — headline + 1 supporting sentence]\\nSlide5: [CTA — action for viewer, + @SNG or #FloatupApp]\\n\\n---YOUTUBE_SHORTS---\\nYouTube Shorts script (60-75 seconds when read aloud at conversational pace). Format:\\nHOOK (0-3s): [attention-grabbing opening line — a bold claim or question]\\nPOINT1 (3-20s): [first key insight with one specific example or stat]\\nPOINT2 (20-40s): [second insight]\\nPOINT3 (40-55s): [third insight or practical tip]\\nCTA (55-75s): [subscribe + comment prompt + mention SNG Advisors]\\n\\n---IMAGE_PROMPT---\\nWrite one image generation prompt for this topic. Style: clean infographic, dark navy background (#0a0a1a), purple (#7c3aed) and teal (#0d9488) accents, white text, modern SaaS aesthetic, no stock photos. Include 3 key data points or steps from the content. Under 80 words.\\n\\nReturn ONLY the 5 sections with their headers. No preamble.`\n  }]\n})\n}}",
        "options": { "timeout": 60000 }
      },
      "id": "11111111-0010-0010-0010-000000000010",
      "name": "Claude: Draft All 4 Formats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 360]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst topic = $('Process Each Topic (Loop)').first().json;\nconst content = claudeResponse.content?.[0]?.text || '';\nif (!content) throw new Error('Claude draft response was empty');\n\nfunction extractSection(text, start, end) {\n  const s = text.indexOf(start);\n  if (s === -1) return '';\n  const from = s + start.length;\n  const to = end ? text.indexOf(end, from) : text.length;\n  return text.substring(from, to === -1 ? text.length : to).trim();\n}\n\nconst linkedin        = extractSection(content, '---LINKEDIN---',          '---INSTAGRAM_CAPTION---');\nconst instagram       = extractSection(content, '---INSTAGRAM_CAPTION---', '---CAROUSEL_SLIDES---');\nconst carouselRaw     = extractSection(content, '---CAROUSEL_SLIDES---',   '---YOUTUBE_SHORTS---');\nconst youtubeScript   = extractSection(content, '---YOUTUBE_SHORTS---',    '---IMAGE_PROMPT---');\nconst imagePrompt     = extractSection(content, '---IMAGE_PROMPT---',       null);\n\n// Parse carousel slides into array\nconst slides = [];\nfor (let i = 1; i <= 5; i++) {\n  const match = carouselRaw.match(new RegExp(`Slide${i}:\\\\s*(.+)`));\n  if (match) slides.push(match[1].trim());\n}\n\nconsole.log(`Parsed all formats for: ${topic.title} | Carousel: ${slides.length} slides`);\n\nreturn [{\n  json: {\n    topic_rank:        topic.rank,\n    topic_title:       topic.title,\n    topic_why:         topic.why,\n    topic_angle:       topic.angle,\n    linkedin_draft:    linkedin,\n    instagram_draft:   instagram,\n    carousel_slides:   slides,\n    carousel_raw:      carouselRaw,\n    youtube_script:    youtubeScript,\n    image_prompt:      imagePrompt,\n    week_of:           new Date().toISOString().split('T')[0],\n    drafted_at:        new Date().toISOString()\n  }\n}];"
      },
      "id": "11111111-0011-0011-0011-000000000011",
      "name": "Code: Parse All Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/content_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",         "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization",  "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Type",   "value": "application/json" },
            { "name": "Prefer",         "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{\nJSON.stringify({\n  idea_title:      $json.topic_title,\n  topic_source:    $json.topic_why,\n  topic_angle:     $json.topic_angle,\n  linkedin_draft:  $json.linkedin_draft,\n  instagram_draft: $json.instagram_draft,\n  carousel_slides: $json.carousel_slides,\n  youtube_script:  $json.youtube_script,\n  image_prompt:    $json.image_prompt,\n  status:          'pending_review',\n  week_of:         $json.week_of\n})\n}}",
        "options": { "timeout": 10000 }
      },
      "id": "11111111-0013-0013-0013-000000000013",
      "name": "Supabase: Store Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 360]
    },
    {
      "parameters": {
        "jsCode": "// Accumulate all drafted posts into one item for the weekly digest email\nconst all = $('Code: Parse All Formats').all();\nconsole.log(`Collected ${all.length} posts for digest`);\nreturn [{ json: { posts: all.map(i => i.json), count: all.length, weekOf: new Date().toISOString().split('T')[0] } }];"
      },
      "id": "11111111-0014-0014-0014-000000000014",
      "name": "Code: Collect All Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200],
      "notes": "Connected from SplitInBatches Done output (all topics processed)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{\nconst posts = $json.posts || [];\nconst postCards = posts.map((p,i) => `\n  <div style='border:1px solid #e2e8f0;border-radius:10px;padding:16px;margin-bottom:16px;'>\n    <div style='display:flex;align-items:center;gap:8px;margin-bottom:10px'>\n      <span style='background:#0d9488;color:#fff;border-radius:50%;width:24px;height:24px;display:inline-flex;align-items:center;justify-content:center;font-weight:700;font-size:12px'>${p.topic_rank}</span>\n      <strong style='font-size:15px;color:#0f172a'>${p.topic_title}</strong>\n    </div>\n    <p style='font-size:12px;color:#64748b;margin:0 0 8px'><em>Angle: ${p.topic_angle}</em></p>\n    <details><summary style='cursor:pointer;font-size:13px;color:#0d9488;font-weight:600'>LinkedIn draft (${(p.linkedin_draft||'').length} chars)</summary><pre style='font-size:12px;white-space:pre-wrap;color:#374151;margin-top:8px'>${(p.linkedin_draft||'').substring(0,600)}...</pre></details>\n    <details style='margin-top:6px'><summary style='cursor:pointer;font-size:13px;color:#7c3aed;font-weight:600'>Instagram + Carousel</summary><pre style='font-size:12px;white-space:pre-wrap;color:#374151;margin-top:8px'>${(p.instagram_draft||'').substring(0,300)}\\n\\nCarousel slides:\\n${(p.carousel_slides||[]).map((s,j)=>`${j+1}. ${s}`).join('\\n')}</pre></details>\n    <details style='margin-top:6px'><summary style='cursor:pointer;font-size:13px;color:#dc2626;font-weight:600'>YouTube Shorts script</summary><pre style='font-size:12px;white-space:pre-wrap;color:#374151;margin-top:8px'>${(p.youtube_script||'').substring(0,500)}...</pre></details>\n    <p style='font-size:11px;color:#94a3b8;margin:10px 0 0'><strong>Image prompt:</strong> ${(p.image_prompt||'').substring(0,150)}...</p>\n  </div>`).join('');\n\nJSON.stringify({\n  from:    'Floatup Content <noreply@floatup.app>',\n  to:      ['saksham.gpt2001@gmail.com'],\n  subject: `📅 This week's ${posts.length} content drafts — week of ${$json.weekOf}`,\n  html: `\n    <div style='font-family:sans-serif;max-width:680px;margin:0 auto;color:#0f172a'>\n      <h2 style='margin-bottom:4px'>Weekly Content Digest</h2>\n      <p style='color:#64748b;margin-top:0;font-size:13px'>Week of ${$json.weekOf} · ${posts.length} topics drafted for LinkedIn, Instagram (carousel) and YouTube Shorts</p>\n      <div style='background:#fef9c3;border:1px solid #fde68a;border-radius:8px;padding:12px 16px;margin-bottom:20px;font-size:13px'>\n        <strong>Your weekly session with Sachit:</strong> Review the drafts below, generate carousel images in Canva using the slide copy, record/generate YouTube Shorts from the script, then approve posts in the dashboard.\n      </div>\n      ${postCards}\n      <a href='https://sng-adwisers.com/admin/content' style='display:inline-block;padding:13px 28px;background:#0d9488;color:#fff;text-decoration:none;border-radius:8px;font-weight:700;font-size:14px;margin-top:8px'>Open Approval Dashboard →</a>\n      <p style='font-size:11px;color:#94a3b8;margin-top:24px'>Generated ${new Date().toLocaleString('en-IN',{timeZone:'Asia/Kolkata'})} IST · SNG Advisors / Floatup</p>\n    </div>`\n})\n}}",
        "options": { "timeout": 15000 }
      },
      "id": "11111111-0015-0015-0015-000000000015",
      "name": "Resend: Weekly Digest Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 200],
      "notes": "Sends full digest to saksham.gpt2001@gmail.com once all 5 topics are drafted. Set RESEND_API_KEY."
    },
    {
      "parameters": {},
      "id": "11111111-0016-0016-0016-000000000016",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3120, 200]
    }
  ],
  "connections": {
    "Weekly Monday 7am IST": {
      "main": [[
        { "node": "RSS: ICAI Announcements",         "type": "main", "index": 0 },
        { "node": "RSS: ET Finance",                 "type": "main", "index": 0 },
        { "node": "RSS: GST Council",                "type": "main", "index": 0 },
        { "node": "Google Trends: CA Keywords",      "type": "main", "index": 0 },
        { "node": "Reddit: India Investments Trending", "type": "main", "index": 0 }
      ]]
    },
    "RSS: ICAI Announcements":          { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 0 }]] },
    "RSS: ET Finance":                  { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 1 }]] },
    "RSS: GST Council":                 { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 2 }]] },
    "Google Trends: CA Keywords":       { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 3 }]] },
    "Reddit: India Investments Trending": { "main": [[{ "node": "Merge All Sources", "type": "main", "index": 4 }]] },
    "Merge All Sources":                { "main": [[{ "node": "Code: Parse All Sources",  "type": "main", "index": 0 }]] },
    "Code: Parse All Sources":          { "main": [[{ "node": "Claude: Rank Top 5 Topics", "type": "main", "index": 0 }]] },
    "Claude: Rank Top 5 Topics":        { "main": [[{ "node": "Code: Extract 5 Topics",    "type": "main", "index": 0 }]] },
    "Code: Extract 5 Topics":           { "main": [[{ "node": "Process Each Topic (Loop)", "type": "main", "index": 0 }]] },
    "Process Each Topic (Loop)": {
      "main": [
        [{ "node": "Claude: Draft All 4 Formats", "type": "main", "index": 0 }],
        [{ "node": "Code: Collect All Posts",     "type": "main", "index": 0 }]
      ]
    },
    "Claude: Draft All 4 Formats":      { "main": [[{ "node": "Code: Parse All Formats",  "type": "main", "index": 0 }]] },
    "Code: Parse All Formats":          { "main": [[{ "node": "Supabase: Store Draft",     "type": "main", "index": 0 }]] },
    "Supabase: Store Draft":            { "main": [[{ "node": "Process Each Topic (Loop)", "type": "main", "index": 0 }]] },
    "Code: Collect All Posts":          { "main": [[{ "node": "Resend: Weekly Digest Email", "type": "main", "index": 0 }]] },
    "Resend: Weekly Digest Email":      { "main": [[{ "node": "Pipeline Complete",          "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "11111111-ffff-ffff-ffff-222222222222",
  "id": "ai-content-gen-v2",
  "meta": { "templateCredsSetupCompleted": false }
}
